
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test</title>
    <link rel="stylesheet" type="text/css"
          href="~/jasmine-core/jasmine.css" />
    <script type="text/javascript"
            src="~/jasmine-core/jasmine.js">

    </script>
    <script type="text/javascript"
            src="~/jasmine-core/jasmine-html.js">
    </script>
    <script type="text/javascript"
            src="~/jasmine-core/boot.js">

    </script>

    <script src="~/dist/vendor.js"></script>
    <script src="~/dist/test.js"></script>
</head>
<body>
</body>
</html>
